.menu {
    display: block;
    width: 100%;
    background-color: #666;
    color: #FFF;
    padding: 10px;
}
.g-menu {
    display: grid;
    grid-template-columns: 150px 1fr;
    align-items: center;
}
.l-menu__links {
    text-align: right;
}
.menu__link {
    color: var(--cor-link-menu);
    margin-left: 12px;
    text-decoration: none;
}